/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;

}

img {
    height: 100%;
}

/* Nav Bar*/

.logo-image {
    width: 70px;
    height: 100px;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    height: 80px;
}

.top-nav ul {
    display: flex;
    flex-wrap: wrap;
}

.links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

.links>li {
    margin-right: 20px;
    cursor: pointer;
}

nav ul li a:hover {
    text-decoration: underline;

}


.links>li:last-child {
    margin-right: 0px;
}

/* Hero */

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url("../images/3background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    position: relative;
}

.hero-content {
    /* border: 4px solid yellow; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.hero-heading {
    font-size: 4.5vh;
    margin-bottom: 20vh;
    /* border: 3px solid blue; */
    width: 50%;
    height: 30%;
    text-align: center
}



.arrow-gif {

    width: 5vh;
    height: 5vh;
}


/* Section 2: Foundations section */

.foundations {
    background-color: #f5f5f5;
    padding-top: 3rem;
    padding-bottom: 3rem;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.found-section-div {
    display: flex;
    flex-direction: column;

}

.h1-container {
    padding: 0 1rem 1rem;
    /* padding-bottom: 1rem; */
    font-size: 1.5rem;
    text-align: center;
}

.found-sect-content {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */

    /* flex-direction: column; */
}


.found-sub {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    padding: 2rem;
    border-radius: 0.35rem;
    /* height: 100%; */
    margin: 10px;
    width: 20%;
    box-shadow: 0px 4px 15px 0px rgb(0 0 0 / 6%);


    /* width:100%; */
}

.found-sub img {
    vertical-align: middle;
    height: 80px;
    /* width: 80px; */
}

.found-sub h5 {
    font-size: 1.22rem;
    margin: 1rem 0 0.55rem;
}

.found-sub p {
    color: #646464;
    margin-top: 1rem;
    margin-bottom: 0;
    text-align: center;
}

.hover1blue:hover {
    background-color: rgb(0, 120, 190, 0.2);
}

.hover2blue2:hover {
    background-color: rgba(220, 235, 236, 255);
}

.hover3green:hover {
    background-color: rgba(220, 233, 225, 255);
}

.hover4yellow:hover {
    background-color: rgba(236, 239, 220, 255);
}

.hover5red:hover {
    background-color: rgba(246, 226, 231, 255);
}

/* Section 3 : Vision section */

.vision {
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url("../images/backgroundsec3.jpg") repeat fixed 100%;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url("../images/backgroundsec3.jpg");
    background-size: cover;
    background-attachment: scroll;
    background-position: top center;
    background-repeat: repeat;
    overflow: auto; */


}

.vision-content {
    /*hasssss flex*/

    margin: 0 auto;
    width: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.vision-content h3 {
    font-size: 3.5vh;
    color: #fff;
    margin-bottom: 2.7rem;
    font-weight: bolder;
}


iframe {
    align-self: center;
}

/*Section 4 Join BDD section */

.joinbdd {
    padding-top: 3rem;
    padding-bottom: 3rem;
    overflow: hidden;
}

.joinbdd-content {
    display: flex;
    flex-direction: column;
}

.content-notitle {
    display: flex;
}

.options-container {
    display: flex;
    justify-content: space-between;

}

.content-notitle {
    display: flex;
}

.joinbdd-title {
    font-size: 2rem;
    font-weight: 400;
    margin: 0 auto;
    margin-bottom: 4vh;

}

.join-img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;

}

.options-container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.options-container-elt {
    margin-bottom: 0.5rem;
    margin-right: 15px;
    max-width: 25%;
    /* box-shadow: 0px 4px 15px 0px rgb(0 0 0 / 6%); */
    position: relative;
    /* width:100%; */
    /* height:100%; */
    padding: 3rem;

    background-image: url(/images/bg-icon.png);
    background-size: cover;
    background-repeat: no-repeat;
}



.options-container-elt h5 {
    min-height: 50px;
    /* letter-spacing: 1px; */
    font-weight: 900;
    font-size: 1.1rem;
    margin-bottom: 0.6rem;
    line-height: 1.25;
    min-width: 25%;

}

.options-container-elt li {
    color: #646464;
    margin-bottom: 0.8rem;
    margin-top: 0.5rem;
    font-size: 1.1rem;

}

.options-container-elt ul {
    list-style-image: url('/images/bullet5.png');
}

.appstore-container p {
    font-size: 1.2rem;
    color: #646464;
    margin: 1rem 1rem 0;
    font-weight: 900;
    /* color: red; */
}

.appstore-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.stores-imgs img {
    /* border: 3px solid purple; */
    max-width: 30%;
    /*was 90 or 100%; */
    height: auto;
    margin: 1rem 1rem 0;

    width: 280px;
}

.options-container-elt:hover {
    box-shadow: 0px 4px 15px 0px rgb(0 0 0 / 6%);
}


/* Section 5 preffered hub */
.fav-hub {
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: url("../images/parallax-light.jpg") repeat fixed 100%;
    /* border: 3px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .favhub-title {
    border: 3px solid black;
} */

.favhub-elts {
    /* border: 3px solid red; */
    width: 25%;
    margin: 10px;
    /* display: flex; */
    /* align-content: center; */
}

.favhub-sub-elt {
    /* border: 6px solid yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.favhub-content {
    display: flex;
    justify-content: space-between;
    width: 60%;
    /* border: 3px solid blue; */
    /* align-content: center; */

    /* position:relative; */

}

.favhub-title {
    margin: 2rem;
}

.fav-hub h3 {
    font-size: 2rem;
    font-weight: 900;

}

.fav-hub h6 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 900;
    margin-top: 1.5rem;
}

.fav-hub p {
    text-align: center;
    font-size: 6vh;
    margin-top: 1rem;
    color: rgba(0, 0, 0, 0.1);


}


/* Section 6 Trending */

.trending {
    /* border: 3px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.1)), url(/images/bg-icon-empty.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.trending-content {
    /* border: 3px solid red; */
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* justify-content: center; */

}

.title-trending {
    /* border: 3px solid black; */
    font-size: 2rem;
    margin: 1rem;
    font-weight: 900;
}

.articles-trending {
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin: 2rem;
    padding: 0rem;

    /* display: flex;
justify-content: space-between;
width: 60%; */

}

.article {
    /* border: 3px solid green; */
    width: 33.3333%;
    margin-left: 1vw;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 15px 0px rgb(0 0 0 / 7%);
    border-radius: 0.4rem;
    /* width: 33.333%; */
    /* display:flex;
flex-direction: column; */
}

.article img {
    width: 100%;
    height: auto;
    /* height: auto; */
}

.trending h5 {
    /* margin-left:1.8rem;
    margin-right:1.8rem; */
    margin: 1rem 1.5rem;
    font-size: 1.25rem;
    font-weight: 900;
}

.trending p {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}



/* Section 7 Program */

.program {
    border: 4px solid rgb(10, 199, 171);
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url("../images/parallax-7.jpg") repeat fixed 100%;
    display: flex;
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.program-content-container {
    border: 3px solid red;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* margin:3rem; */

}

.content-pics {
    border: 3px solid green;
    /* margin:5rem; */
    display: flex;

    justify-content: center;
    align-items: center;
    width: 90%;

}

.prog-logo-left img {
    width: 25%;
    height: auto;

}

.content-button {
    border: 3px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* justify-content: center; */
}

.content-pics p {
    color: white;
    margin-top: 1.2rem;
    font-size: 1.2rem;
}

.prog-logo-left {
    border: 3px solid yellow;
    margin: 3rem;
    width: 35%;

}

.prog-icons {
    border: 3px solid white;
    margin: 3rem;
    display: flex;
    justify-content: space-between;
    width: 35%;

}

.prog-icon {
    border: 3px solid purple;
    /* margin:3rem; */
    display: flex;
    flex-direction: column;
    width: 33.3333%;
    height: auto;
    margin-right: 2vw;
}

.prog-icon h5 {
    color: white;
    text-align: center;
    margin-top: 1rem;

    /* margin-left: 0.6vw; */
    font-size: 1rem;
    /* display: flex; */
}

.prog-icon img {
    width: 100%;
    height: auto;
}


/* Utlities */

.container {
    padding: 0 12vh;
    width: 100%;
    height: 100vh;
    /* border: 5px solid green; */
}

.btn-main {
    border-radius: 30px;
    background-color: #0078BE;
    color: #fff;
    line-height: 1.25;
    padding: 0.8rem 1.4rem;
    font-size: 0.9rem;
    font-weight: 400;
    letter-spacing: 1px;
    cursor: pointer;
    border: none;
    text-decoration: none;
    box-shadow: 0 3px 12 px 0 rgb(0 0 0);

}

.nav-button {
    color: white;
    font-weight: bolder;
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    padding: 7px;
    border-radius: 2px;
}

.nav-button:hover {
    background: rgba(255, 255, 255, 0.5);
}

.margin-top {
    margin-top: 3rem;
    width: 100%;
    /* position:absolute;
    bottom: 3%;
    right:28%; */
}

.green1 {
    -webkit-text-stroke: 2px #009a9e;
}

.red {
    -webkit-text-stroke: 2px #e13870;
}

.blue {
    -webkit-text-stroke: 2px #0078be;
}

.green2 {
    -webkit-text-stroke: 2px #00802d;
}

.bottom-sep {
    border-bottom: 1px solid #e3e3e3;
}

.margin-top-bottom {
    margin-top: 1rem;
    margin-bottom: 2rem;
}